<% include partials/header.ejs %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Recipe Box!</h1>
            <p>View your personal recipes below or add one to get started</p>
            <p>
                <a class="btn btn-primary btn-large" href="/recipes/new">Add New Recipe</a>
            </p>
        </div>
    </header>
    <div class="row">
        <!--TODO style recipe thumbnails as cards, as per https://getbootstrap.com/docs/4.0/components/card/ -->
        <% user.recipes.forEach(function(recipe){ %>
        <div class="col-sm-12 col-md-3">
            <a href="/recipes/<%= recipe._id %>">
                <div>
                    <img class="img-fluid rounded img-thumbnail" src="/uploads/<%= recipe.img.imgFileName %>">
                    <h2><%= recipe.title %></h2>
                </div>
            </a>
        </div>
        <% }); %>
    </div>
</div>
<% include partials/footer.ejs %>