<% include partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Available Recipes</h1>
        </div>
    </div>
    <div class="row">
        <% user.recipes.forEach(function(recipe){ %>
            <div class="col-sm-12 col-md-3">
                <a href="/recipes/<%= recipe._id %>">
                    <div>
                        <img class="img-fluid rounded img-thumbnail" src="/uploads/<%= recipe.img.imgFileName %>">  
                        <h2><%= recipe.title %></h2>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer.ejs %>