<% include partials/header.ejs %>
<div class="jumbotron">
  <h1 class="display-4">Your digital recipe box</h1>
  <p class="lead">Access your favorite recipes anytime, on any device.</p>
  <hr class="my-4">
  <p>Save all your....</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Get Started</a>
  </p>
</div>
<% include partials/footer.ejs %>