
<!DOCTYPE html>
<html>
<head>
    <title>Recipe Box - Digital Recipe Storage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/landing.css" type="text/css">
</head>
<body>
    <div id="landing-header">
        <div class='landing-opacity'>
            <h1>Welcome to Recipe Box!</h1>
            <hr>
            <p>Access your favorite recipes anytime, on any device.</p>
            <a href="/register" class="btn btn-lg btn-primary">Create an Account</a>
            <a href="/login" class="btn btn-lg btn-light">Log In</a>
        </div>
    </div>
</body>
