<% include partials/header.ejs %>
<div class="container">
    <h1 class="form-header">Log In</h1>
    <p class='login-demo-note'>To demo this application, sign in with these credentials: <br>
    Username: test <br>
    Password: test</p>
    <div class="row">
        <div class="form-container">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter your username"
                           name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password"
                           name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>