<% include partials/header.ejs %>
<h1>Create a New Account</h1>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
         <form action="/register" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter a username" name="username">
              </div>
              <div class="form-group">
                <label for="displayName">Display Name</label>
                <input type="text" class="form-control" id="displayName" placeholder="Enter a display name" name="displayName">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter a password" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>  
        </div>
    </div>
</div>

<% include partials/footer.ejs %>