/*body{*/
    /*background-image: url("../images/landing.jpg");*/
    /*background-size: cover;*/
/*}*/

#landing-header{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 25vh;
    color: #fff;
}
.landing-opacity {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    margin: 0 auto;
    padding: 15vh 0;
}
#about{
    height:50vh;
}
#about h2{
    padding-top:10vh;
    text-align: center;
}