/*body{*/
    /*background-image: url("../images/landing.jpg");*/
    /*background-size: cover;*/
/*}*/

#landing-header{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1{
    color: #fff;
}
#about{
    height:50vh;
}
#about h2{
    padding-top:10vh;
    text-align: center;
}