nav {
    margin-bottom: 50px;
}
.display-name {
    color: #fff !important;
}

#removeIngredient {
    display: inline;
}

#ingredientsList input {
    display: inline;
}

#editButton, #deleteButton, #deleteForm {
    display: inline-block;
}

.editImgThumbnail {
    max-width: 150px;
}

.form-group figure {
    display: block;
}
.form-header{
    text-align: center;
}
.login-demo-note {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    color: #6D7882;
}
.form-container{
    width: 45%;
    margin: 25px auto;
}

.recipe-thumbnail {
    text-align: center;
}